RABBITMQ_USER=crm
RABBITMQ_PASSWORD=crm

TEAM_DB_USER=team
TEAM_DB_PASSWORD=team

ACCOUNTS_DB_USER=accounts
ACCOUNTS_DB_PASSWORD=accounts

CATALOG_DB_USER=catalog
CATALOG_DB_PASSWORD=catalog

SALES_DB_USER=sales
SALES_DB_PASSWORD=sales

NOTIFICATION_DB_USER=notification
NOTIFICATION_DB_PASSWORD=notification

SPLUNK_ACCESS_TOKEN=
SPLUNK_REALM=
